.form-container {
  padding: 10px;
  background-color: #f2ebe9;
  box-shadow :2px 2px 9px 3px #441031;
  border-radius: 4px;
  width: 530px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: #7c3e66 1px solid;
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 100%;
    button {
      height: 40px;
      width: 90px;
      border-radius: 4px;
      border: #7c3e66 1px solid;
      font-size: 16px;
      font-family: cursive;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cancel-button {
      background-color: #f2ebe9;
      color: #7c3e66;
    }

    .submit-button {
      margin-left: 8px;
      background-color: #7c3e66;
      color: #f2ebe9;
    }
  }
}
