.form-container {
  padding: 10px;
  background-color: #F2EBE9;
  border-radius: 4px;
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border : #7C3E66 1px solid; 
}
