.radio-group-wrapper {
  hr {
    background-color: #816797;
    border: none;
    height: 1px;
  }
  .text-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 4px;
    .label-style {
      font-size: 14px;
      font-family: cursive;
      font-weight: 500;
      color: #121212;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .error-icon {
      color: #f05454;
      padding-left: 4px;
    }
    .error-style {
      font-size: 12px;
      font-weight: 500;
      font-family: cursive;
      color: #f05454;
      display: flex;
      flex: 1;
      min-width: fit-content;
    }
  }
  .ant-radio-group-outline{
    span{
        font-size: 12px;
        font-family: cursive;
        font-weight: 400;
        color: #121212;
        cursor:pointer;
    }
    .ant-radio-input{
        background-color: #816797 ;
        border-color:#816797 ;
        cursor:pointer;
    }
  }
}
